* {
  box-sizing: border-box;
}
body {
  font-family: 'Raleway', sans-serif;
}

.container-w {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 50px;
}

.first-section {
  width: 45%;
  color: darkgrey;
  background-color: rgb(11, 11, 11);
}

.second-section {
  width: 65%;
  background-color: darkgrey;
}

img {
  width: 200px;
  height: 200px;
  border-radius: 100%;
}
