* {
  box-sizing: border-box;
}
body {
  font-family: 'Raleway', sans-serif;
  background-color: rgb(225, 234, 223);
}

.container-w {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 50px;
}

.first-section {
  width: 45%;
  color: #c5c6c3;
  background-color: rgb(29, 29, 29);
  border-right: 1px solid rgb(29, 29, 29);
}

.second-section {
  background-color: #c5c6c3;
  color: rgb(29, 29, 29);
}

.profile-img {
  margin: auto;
  border-radius: 100%;
  overflow: hidden;
  transform: rotate(-18deg);
}

.profile-img img {
  object-fit: cover;
  height: 110%;
  object-position: 75% 60%;
}

.diploma-QR {
  width: 36px;
  height: 36px;
  border-radius: 0%;
  position: relative;
}

.font-weight-500 {
  font-weight: 500;
}

@media only screen and (max-width: 426px) {
  .container-mob {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px;
  }

  .first-section,
  .second-section {
    width: 425px;
  }

  .first-section {
    margin: 0px;
    padding: 0px;
    padding-top: 50px;
    padding-bottom: 40px;
    padding-left: 70px;
    padding-right: 70px;
    text-align: center;
  }

  .second-section {
    padding: 0;
    display: flex;
    flex-direction: column;
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 50px;
    text-align: justify;
  }

  .mb-center {
    display: flex;
    justify-content: center;
  }

  .mobile-none {
    display: none;
  }
}

@media only screen and (min-width: 427px) and (max-width: 1024px) {
  .container-w {
    margin: 0;
  }

  .first-section {
    width: 65%;
  }

  .first-section h1 {
    font-size: 22px;
  }

  .first-section,
  .second-section {
    margin: 0 auto;
    padding-left: 32px;
    padding-right: 32px;
  }

  .second-section {
    padding-top: 10px;
  }

  .profile-img {
    width: 160px;
    height: 160px;
  }
}

@media only print {
  .container-w {
    margin: 0;
  }

  .first-section {
    margin: 0 auto;
    text-align: justify;
  }

  .second-section {
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 38px;
    padding-right: 38px;
    text-align: justify;
  }

  .print-icons {
    width: 14px;
    height: 14px;
  }
}
